.App {
  text-align: center;
}

.form-task {
  margin: 15px 0;
}

.task {
  border-radius: 8px;
  margin: 5px 20px;
  padding: 15px 25px;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
}
